{% extends "starter/base.html" %}

{% block content %}
<div class="fluid-container">
  {% if search_query %}
    <div class="row">
      <span class="h3">Search results for: </span>
      <span>{{ search_query }}</span>
      <span> (in title or synopsis) </span> 
    </div>
  {% endif %}
  <div class="col-md-2">
    <form action="{% url 'landing_page' %}" method="get" class="form">
        {{ filter_form.as_p }}
        <button type="submit" class="btn btn-primary">Filter results</button>
    </form>
  </div>
  <div class="col-md-10">
    <ul class="list-group">
    {% for movie in movies %}
      <li class="list-group-item movie-item">
        <a href="/movies/{{ movie.id }}">
          <img class="movie-item-thumbnail" src="{{ movie.posters.profile }}">
          <div class="movie-title">{{ movie.title }}</div>
        </a>
        <div class="movie-release-date">Released: {{ movie.release_dates.theater }}</div>
        <div class="movie-scores">
          {% if movie.ratings.critics_score != -1 %}
            <div class="critics-rating">Critics: {{ movie.ratings.critics_score }}%</div>
          {% endif %}
          {% if movie.ratings.audience_score %}
            <div class="audience-rating">Audience: {{ movie.ratings.audience_score }}%</div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
